Lower Triangular

In [ ]:
n = int(input('Enter the number of rows:'))
for i in range(n):
  for j in range(i+1):
    print('*',end=' ')
  print()

Enter the number of rows:5
*
* *
* * *
* * * *
* * * * *

Upper Triangular

In [ ]:
n = int(input('Enter the number of rows:'))
for i in range(n):
  for j in range(n-i):
    print('*',end=' ')
  print()

Enter the number of rows:5
* * * * *
* * * *
* * *
* *
*

Pyramid

In [ ]:
n = int(input("Enter the number of rows: "))

for i in range(n):
    for j in range(n-i-1):
        print(" ", end="")
    for j in range(2*i+1):
        print("*", end="")
    print()

Enter the number of rows: 5
    *
   ***
  *****
 *******
*********